@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-sm {
  0% {
    transform: translateX(-230%);
  }
  100% {
    transform: translateX(240%);
  }
}

@keyframes slide-md {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.md\:animate-slide-md {
  animation: slide-md 25s linear infinite;
}

@media (max-width: 650px) {
  .sm\:animate-slide-sm {
    animation: slide-sm 25s linear infinite !important;
  }
}

html {
  scroll-behavior: smooth;
}

/* Hide the button initially */
#backToTopButton {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Slide up when showing */
#backToTopButton.show {
  transform: translate(-50%, 0); /* Center horizontally and slide up */
  opacity: 1;
}

/* Slide down when hiding */
#backToTopButton.hide {
  transform: translate(-50%, 100%); /* Slide down off-screen */
  opacity: 0;
}

/* body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
} */

body {
  transition: all 0.5s ease-in-out;
}

.page-transition {
  opacity: 0;
  background: #d1d5db;
  transform: scale(0.9);
  filter: blur(15px);
}

.page-enter {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
}
